{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Articles Home title</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <h2>Articles Home header</h2>
        <p>Article Home "P"</p>
        {%for i in objects_in_artic_models %}
        <h3><a href="#">{{i.title}}</a></h3>
            {%if i.body|length > 50 %}
                <p>{{i.abstract}}</p>
            {%else%}
                <p>{{i.body}}</p>
            {%endif%}
        {%endfor%}
    </body>
</html>