{% load static %}

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <p> </p>
        <a href="{% url 'articles_urls_app:articles_home_page_redirect' %}">Articles Page</a>
        <p> </p>
        <div class="wrapper">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>