{% load static %}

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <header>
                <p> </p>
            <a href="{% url 'articles_urls_app:articles_home_page_redirect' %}">Articles Page</a>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'articles_urls_app:article_create' %}">create article </a>
                            <form class="logout_html" action="{% url 'accounts_url_app:logout_redirect' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">logout</button>
                            </form>
                        </li>

                    {% else %}
                        <li>
                            <a href="{% url 'accounts_url_app:login_redirect' %}">login </a>

                            <a href="{% url 'accounts_url_app:signup_redirect' %}">signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <p> </p>
            <div class="wrapper">
                {% block content %}

                {% endblock %}
            </div>
        </header>
    </body>
</html>